@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App, body {
  text-align: center;
  height: 110vh;
  display : flex;
  flex-direction : column;
  background: url(./Background.jpg) no-repeat center center fixed;
  background-size: cover;
}
.nav{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}
.categories{
  height: 33vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
}
.category{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 21%;
  cursor: pointer;
  margin: 5px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #e5dc15;
  border-radius: 0.5rem;
  box-shadow: 0 0.2em #c2bb11, 0 0.4em rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0;
  transition: all 150ms ease-in-out;
}
.category:hover {
  background: #e5dc15;
  color: #0e79b2;
  top: 0.1em;
  box-shadow: 0 0.2em #c2bb11, 0 0.4em rgba(0, 0, 0, 0.4);
}
.category:active {
  top: 0.3em;
  box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(0, 0, 0, 0.4);
}
.CategorySelect{
  position: absolute;
  width: 99.8%;
  top: 49%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
}
.jokes{
  height: 42vh;
  width: 99.8%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  }
  @media only screen and (max-width: 503px) {
    .App, body{
      height: 110vh;
    }
    .jokes{
      height: 32vh;
      font-size: 22px;
      position: absolute;
      bottom: 0;
    }
    .CategorySelect{
      top: 59%;
    }
    .categories{
      height: 43vh;
    }
  }
